h1 {
    margin: -1px auto;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
    width: 600px;
}

#instructions {
    width: 600px;
    margin: 0 auto;
    padding: 25px;
}

#disqus_thread {
    margin: 0 auto;
    padding: 25px;
    width: 600px;
}

#gameport {
    background-color: black;
    width: 100%;
    height: 400px;
    text-align: center;
}

#gameport > canvas {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
